:root{
  --aboutBackground: #0C1B31;

}

*{
  padding: 0;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  min-height: 100vh;
  background-color: var(--aboutBackground);
  min-width: 400px;
}

/* p{
  text-indent: 1ch;
} */


.other-works{
  grid-area: works;
}

.footer{
  grid-area: footer;
}

.section-title{
  display: none;
}

/* GRID Container */
.grid-container{
  min-height: 100vh;
  background-color: var(--aboutBackground);
  min-width: 400px;
  /* TOP/BOT LEFT/RIGHT 
     TOP RIGHT BOT LEFT */
  /* min-width: 1100px;     */
  /* padding: 80px 90px; */
  padding: 6% 8%;
  margin: 0% 10%;
  /* display:flex; */
  /* min-width: 400px; */
  display: grid;
  gap: 20px;
  grid-template-areas: 
      'intro desc desc'
      'intro exp exp' 
      'intro works works';
      /* 'footer footer footer'; */

}


.footer{
  /* position:relative; */
  left:0;
  bottom:0;
  border:2px solid #fff;
  background-color: fff;
  border-radius: 6px;
  margin-top: 6%;
  padding: 20px 10%;
}

.footer .copyright{
  padding: 10%;
}

@media (max-width: 700px){

  /* .profile .logos{
      padding: 2% 0%;
  } */
  .grid-container{
      grid-template-areas: 
      'intro'
      'desc'
      'exp'
      'works';
  }

  /* .profile .table-of-contents{
      padding: 20px 0px;
  }

  .about{
      padding: 60px 0px;
  }

  .experience .section-title{
      display: block;
      margin: 1.3em 0em;
  } */
}